* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

:root {
    --primary: #E84129;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.form-select:focus,
.form-control:focus {
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}

/* Button hover Starts */
.prm-btn,
.prm-btn:before,
.prm-btn:after {
    transition: 0.3s ease-in-out;
}

.prm-btn,
.prm-btn:focus {
    position: relative;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    z-index: 1;
    border: 1px solid var(--primary);
    font-weight: 700;
    color: #fff;
    background-color: var(--primary);
    padding: 10px 15px;
    font-size: 10px;
    width: fit-content;
}

.prm-btn:before,
.prm-btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.prm-btn:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #fff;
    transform: translateX(-100%);
}

.prm-btn:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 80px solid #fff;
    transform: translateX(100%);
}

.prm-btn:hover {
    color: var(--primary) !important;
    border: 1px solid var(--primary);
}

.prm-btn:hover:before {
    transform: translateX(-49%);
}

.prm-btn:hover:after {
    transform: translateX(49%);
}

.rev.prm-btn,
.rev.prm-btn:focus {
    color: var(--primary);
    background-color: #fff;
}

.rev.prm-btn:before {
    border-bottom: 80px solid var(--primary);
}

.rev.prm-btn:after {
    border-top: 80px solid var(--primary);
}

.rev.prm-btn:hover {
    color: #fff !important;
}

/* Button hover Ends*/


/*HAMBURGER START*/
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner {
    background-color: #000;
}

.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*HAMBURGER ENDS*/



.sub-menu-parent {
    position: relative;
}

.sub-menu {
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: 2;
    transition: all 0.1s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent a:focus~.sub-menu,
.sub-menu-parent a:focus-within~.sub-menu,
.sub-menu-parent a:hover~.sub-menu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    z-index: 999;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
}

nav a {
    color: #E00;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav a:hover {
    color: #F55;
}

nav ul,
nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul {
    background: #111;
    text-align: center;
}

nav>ul>li {
    display: inline-block;
    border-left: solid 1px #aaa;
}

nav>ul>li:first-child {
    border-left: none;
}

.sub-menu {
    background: #111;
    width: calc(100% + 120px);
}


/* Header Starts */
.upr-strip {
    background: #111;
    color: #fff;
    padding: 5px 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
}

.upr-nav {
    padding: 20px 0;
    background-color: #fff;
}

.logo-search {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 150px;
    margin-right: 50px;
}

.search-bar input {
    min-width: 350px;
    height: 45px;
    padding: 0 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 50px;
}

.search-bar input {
    width: 400px;
    padding: 0 10px;
    height: 50px;
    border: 1px solid #ddd;
}

input.search-term:focus-within {
    outline: none;
}

.search-bar button {
    height: 50px;
    width: 50px;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.search-bar button img {
    width: 20px;
}

.cart-profile {
    display: flex;
    align-items: center;
}

.cart-icon {
    margin-right: 15px;
}

.hamburger {
    display: none
}

.mobile-nav {
    transition: all linear .25s;
    max-height: 0;
    display: block !important;
    position: absolute;
    z-index: 999;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.mobile-nav.nav-show {
    padding: 30px;
    transition: all linear .25s;
    max-height: 500px;
    overflow: hidden;
}

.mobile-nav .search-bar {
    margin-bottom: 10px;
}

.mobile-nav .search-bar input {
    min-width: unset;
    width: 100%;
}

.mobile-nav .search-bar {
    display: none;
    justify-content: center;
}

.mobile-nav .nav-links {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.mobile-nav .nav-links>ul {
    flex-basis: 50%;
}

.cart-profile {
    margin-top: 10px;
}

.lwr-nav .nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.lwr-nav {
    background: #111;
}

.lwr-nav ul li a {
    color: #fff;
    padding: 10px 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    display: block;
    position: relative;
    z-index: 3;
}

.lwr-nav ul li a:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.lwr-nav ul li a.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.collapse.navbar-collapse.mobile-nav {
    background: #eee;
    text-align: center;
    overflow: hidden;
}

.collapse.navbar-collapse.mobile-nav li {
    margin: 5px 0;
}

.collapse.navbar-collapse.mobile-nav li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.hero-section {
    position: relative;
    z-index: 0;
}

.social-links {
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social-links .social-line {
    background-color: #fff;
    width: 2px;
    height: 50px;
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-icons>div {
    margin-bottom: 5px;
}

/* Header Ends */

/* Category STARTS*/
section.category {
    padding: 50px 0;
}

section.category .row .col-sm-4:nth-child(1) .cat-card {
    background-image: url('/assets/gun-pallets.png');
}

section.category .row .col-sm-4:nth-child(2) .cat-card {
    background-image: url('/assets/pistols.png');
}

section.category .row .col-sm-4:nth-child(3) .cat-card {
    background-image: url('/assets/rifles.png');
}

.cat-card {
    position: relative;
    height: 260px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.cat-card .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(100.35deg, rgba(15, 32, 39, 0.7) 2.55%, rgba(32, 58, 67, 0.7) 47.53%, rgba(44, 83, 100, 0.7) 102.96%);
    z-index: 1;
    top: 0;
    left: 0;
}

.cat-card .cat-text {
    color: #fff;
    position: relative;
    z-index: 2;
    font-family: 'Montserrat';
    max-width: 230px;
}

.cat-card .cat-text h1 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.cat-card .cat-text p {
    font-size: 14px;
    text-transform: capitalize;
}

.cat-card .cat-text a {
    padding: 10px 15px;
    background: var(--primary);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}

/* Category ENDS*/


/* Product List STARTS*/
section.owl-prd-list {
    padding: 50px 0px;
    font-family: 'Montserrat';
}

.owl-left svg,
.owl-right svg {
    stroke: #333;
}

section.owl-prd-list .owl-nav, section.blogs .owl-nav {
    position: absolute;
    right: 0;
    top: -70px;
}

.list-head {
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}

.list-head h1 {
    font-weight: 800;
    font-size: 35px;
}

.list-head .view-btn {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    border-right: 1px solid #333;
    padding-right: 20px;
}

.product-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.product-img {
    width: 100%;
    height: 200px;
}

.product-img img {
    height: 200px;
    object-fit: contain;
}

.product-det {
    border-top: 2px solid rgba(232, 65, 41, 0.6);
}

.product-det {
    border-top: 2px solid rgba(232, 65, 41, 0.6);
    padding: 20px 15px;
    text-align: left;
}

.product-det h2 {
    font-size: 14px;
}

.product-det s {
    font-size: 12px;
    font-weight: 500;
    color: #666;
}

.product-det b {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary);
    margin-left: 10px;
}

.product-det a {
    padding: 10px 15px;
    display: block;
    background: var(--primary);
    width: fit-content;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}


/* Product List ENDS*/


/* Benefits STARTS*/
.benefits {
    background: linear-gradient(100.41deg, #0F2027 2.55%, #203A43 97.76%, #2C5364 122.81%), #D9D9D9;
    padding: 30px 0;
}

.benefit-icon {
    margin-right: 10px;
}

.benefit {
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat';
}

.benefit-text b {
    color: #fff;
    font-weight: 700;
    display: inline-block;
}

.benefit-text span {
    color: #999999;
    font-weight: 500;
    display: inline-block;
}


/* Benefits ENDS*/

/* Blogs STARTS*/
.blogs {
    padding: 50px 0;
    margin-top: 40px;
    font-family: 'Montserrat';
}

.blogs img {
    object-fit: cover;
}

.blogs .product-det b {
    margin-left: 0;
    color: #aaa;
    font-weight: 600;
    font-size: 14px;
}

.blogs .product-det a {
    padding: 0;
    display: block;
    background: none;
    width: fit-content;
    margin-top: 10px;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary);
    font-size: 14px;
}


.blogs .product-det {
    padding: 10px 5px;
    border-top: none;
}

.blogs .product-det .read-btn svg {
    transition: 0.5s ease-in-out;
}

.blogs .product-det .read-btn:hover svg {
    transform: translateX(5px);
    transition: 0.5s ease-in-out;
}

/* Blogs ENDS*/


/*===================================== Category Page Starts =====================================*/



/* Category Box */
section.prod-list {
    padding: 50px 0;
    font-family: 'Montserrat';
}

.cat-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
}

.cat-box h1 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 0;
}

.cat-box-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cat-box-head .drop-icon {
    display: none;
}

.cat-sub-menu {
    background: #fff;
    box-shadow: 0 0 5px 2px #ddd;
    padding: 6px 15px;
    margin: 15px 5px;
    overflow: hidden;
    transition: all linear .3s;
}

.cat-sub-menu .cat-drop-down {
    max-height: 0px;
    overflow: hidden;
    transition: all linear .3s;
}

.cat-sub-menu .cat-drop-down.active {
    max-height: 500px;
    transition: all linear .3s .20s;
}

.cat-sub-menu-head {
    position: relative;
    cursor: pointer;
}

.cat-sub-menu-head h4 {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin: 5px 0;
}

.cat-sub-menu-head .plus-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cat-sub-menu-head .plus-icon .stick {
    width: 10px;
    height: 2px;
    background: #666;
    display: inline-block;
}

span.plus-icon .stick {
    position: absolute;
    right: 0;
}

span.plus-icon .stick2 {
    transform-origin: center;
    transition: all linear .2s;
    transform: rotate(-90deg);
}

ul.cat-drop-down li {
    margin: 12px 0;
    font-size: 12px;
}

span.plus-icon .stick2.active {
    transform: rotate(0deg);
    transition: all linear .2s;
}

/*===================================== Category Page Ends =====================================*/




/*===================================== Blogs Page Ends =====================================*/

.blogs-section {
    padding: 50px 0;
    font-family: 'Montserrat';
}

.search-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
    z-index: 0;
}

.search-box h1 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.search-box a[type="submit"] {
    display: block;
    background-color: var(--primary);
    width: fit-content;
    padding: 8px 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.blogs-section .cat-sub-menu-head h4 {
    margin: 10px 0;
}

.blogs-section .product-det h2 {
    margin-bottom: 0;
}

.blogs-section.blogs {
    margin-top: 0;
}

/*===================================== Blogs Page Ends =====================================*/




/*===================================== Contact Page Starts =====================================*/
.contact-bg img {
    height: 260px;
    object-fit: cover;
}

.contact-bg {
    height: 260px;
    position: relative;
}

.contact-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: .5;
}

.contact-icon {
    margin-right: 10px;
}

.contact-box {
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat';
    background: #fff;
    border: 1px solid #ddd;
    padding: 40px;
    height: 152px;
}

.contact-methods {
    transform: translateY(-50%);
}

.contact-text b {
    color: #333;
    font-weight: 700;
    display: inline-block;
}

.contact-text span {
    color: #999999;
    font-weight: 500;
    display: inline-block;
}

.form-map {
    margin: 30px 0;
}

.contact-form {
    font-family: 'Montserrat';
}

.contact-form h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
}

.contact-form .feedback-input {
    font-weight: 500;
    font-size: 18px;
    border-radius: 2px;
    line-height: 22px;
    background-color: transparent;
    border: 1px solid #ddd;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    color: #333;
}

.contact-form .feedback-input:focus {
    border: 1px solid var(--primary);
}

.contact-form textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

.contact-form input[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: fit-content;
    background: var(--primary);
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

.contact-form input[type="submit"]:hover {
    background: #CC4949;
}


/*===================================== Contact Page Ends =====================================*/


/*===================================== Video Page Starts =====================================*/

.videos {
    font-family: 'Montserrat';
}

.video-card {
    overflow: hidden;
    padding-bottom: 75%;
    min-height: 210px;
    margin: 10px 0;
}

@media(min-width: 768px) {
    .video-card {
        padding-bottom: 50%;
    }
}

.video-card .hover {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 0.4s;
}

.video-card:hover .hover {
    opacity: 1;
}

.video-card .video-title {
    opacity: 1;
    background: rgba(0, 0, 0, 0.75);
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: opacity 0.4s;
}

.video-card:hover .video-title {
    opacity: 0;
}

/*===================================== Video Page Ends =====================================*/




/*===================================== Product Detail Page Starts =====================================*/
section.prod-detail {
    padding: 50px 0;
    font-family: 'Montserrat';
}

.pd-wrap {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
}

.heading-section {
    text-align: center;
    margin-bottom: 20px;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section h2 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.carousel-testimonial .item {
    padding: 30px 10px;
}

.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}

.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position {
    color: #adadad;
    font-size: 14px;
}

.prod-detail .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
}

.prod-detail .owl-nav button svg {
    width: 25px;
    height: 25px;
}

.prod-detail .owl-nav button.owl-prev {
    left: 25px;
}

.prod-detail .owl-nav button.owl-next {
    right: 25px;
}

.prod-detail .owl-nav button span {
    font-size: 45px;
}

.product-thumb .item img {
    height: 100px;
}

.product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.product-price-discount {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}

.product-price-discount span.line-through {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.product-info {
    width: 100%;
}

.reviews-counter {
    font-size: 13px;
}

.reviews-counter span {
    vertical-align: -2px;
}

.rate {
    float: left;
    padding: 0 10px 0 0;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color: #ccc;
    margin-bottom: 0;
    line-height: 21px;
}

.rate:not(:checked)>label:before {
    content: '\2605';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.product-dtl p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}

.product-dtl .form-control {
    font-size: 15px;
}

.product-dtl label {
    line-height: 16px;
    font-size: 15px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.product-count {
    margin-top: 15px;
}

.product-count .prm-btn {
    padding: 10px 15px;
    display: block;
    background: var(--primary);
    width: fit-content;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: #111;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}

.product-count .qtyminus {
    border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
    border-radius: 0 3px 3px 0;
}

.product-count .qty {
    width: 60px;
    text-align: center;
}

.round-black-btn {
    border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
}

.round-black-btn:hover,
.round-black-btn:focus {
    background: transparent;
    color: #212529;
    text-decoration: none;
}

.product-info-tabs {
    margin-top: 25px;
}

.product-info-tabs .nav-tabs {
    border-bottom: 2px solid #d8d8d8;
}

.product-info-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
}

.product-info-tabs .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #323232;
}

.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
    border: none;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-weight: bold;
}

.product-info-tabs .tab-content .tab-pane {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
}

.review-form .form-group {
    clear: both;
}

.mb-20 {
    margin-bottom: 20px;
}

.review-form .rate {
    float: none;
    display: inline-block;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}

.review-form .form-control {
    font-size: 14px;
}

.review-form input.form-control {
    height: 40px;
}

.review-form textarea.form-control {
    resize: none;
}

.review-form .round-black-btn {
    text-transform: uppercase;
    cursor: pointer;
}

.product-thumb img,
.product-slider img {
    width: 200px;
    height: 350px;
    object-fit: cover;
}

#lens {
    background-color: rgba(233, 233, 233, 0.4);
}

#lens,
#result {
    position: absolute;
    display: none;
    z-index: 999;
}

#lens,
#result {
    border: solid #ddd 1px;
}

/*===================================== Product Detail Page Ends =====================================*/




/*===================================== Cart Page Starts =====================================*/
section.cart-sec {
    padding: 50px 0;
    font-family: 'Montserrat';
}

.product-list {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 15px;
}

.product-list .list-head {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.product-list .list-head h1 {
    font-weight: 700;
    font-size: 24px;
}

.items-list .item {
    display: flex;
    align-items: flex-start;
    padding: 35px 0;
}

.items-list .item:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.item-img {
    width: 250px;
    margin-right: 15px;
}

.item-det h2 {
    font-size: 16px;
    line-height: 1.2;
}

.item-det .price-off {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item-det .item-price {
    display: flex;
    margin-right: 15px;
    align-items: flex-end;
}

.item-det .item-price .strikethrough {
    margin-right: 10px;
    font-size: 14px;
    text-decoration: line-through;
}

.item-det .price-off .percent-off {
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
}

.product-count>label {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #333;
}

.item-det .item-price .price {
    font-size: 18px;
    font-weight: 700;
}

.item-det .count-remove {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-rem:hover {
    opacity: 1;
    transition: .2s all linear;
}

.item-rem {
    color: var(--primary);
    opacity: .5;
    transition: .2s all linear;
    cursor: pointer;
}

.price-sum {
    margin-top: 15px;
}

.pay-btn .prm-btn {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.order-sum {
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 15px;
}

.order-sum h4 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.order-sum ul {
    padding: 10px;
}

.order-sum ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.order-sum ul li .key {
    font-weight: 500;
}

.order-sum ul li .value {
    font-weight: 700;
}

.order-sum ul li .key.discount~.value {
    color: #35b635;
}

.order-sum .final-pay {
    border-top: 1px solid #ddd;
}

.order-sum ul li .key.final~.value {
    font-size: 20px;
    color: var(--primary);
}

.order-sum ul li .key.final {
    font-size: 20px;
    font-weight: 600;
}

.order-sum .final-pay span {
    font-size: 14px;
    color: #35b635;
    font-weight: 500;
}

/*===================================== Cart Page Ends =====================================*/



/*===================================== Profile Page Starts =====================================*/
.profile-sec {
    padding: 50px 0;
}

.profile-sec {
    padding: 50px 0;
    font-family: 'Montserrat';
}

.profile-sec ul#pills-tab {
    display: flex;
    flex-direction: column;
}

.profile-sec .nav-pills .nav-link.active,
.profile-sec .nav-pills .show>.nav-link {
    background: hsl(0deg 0% 96%);
    color: var(--primary);
    font-weight: 600;
    border-left: 3px solid var(--primary);
}

.profile-sec .nav-pills .nav-link {
    width: 100%;
    text-align: left;
    border-radius: 0;
    color: #333;
    font-weight: 600;
    margin: 5px 0;
}

.profile-sec .dashboard-navlinks {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.dashboard-navlinks button,
.dashboard-navlinks button:focus {
    font-size: 14px;
    padding: 13px 30px;
}

/*===================================== Profile Page Ends =====================================*/




/*===================================== Checkout Page Ends =====================================*/
section.checkout-sec {
    padding: 50px 0;
    font-family: 'Montserrat';
}

section.checkout-sec .shipping-add h1,
section.checkout-sec .billing-add h1 {
    font-weight: 700;
    color: #333;
}

.billing-add .form-control,
.billing-add select,
.shipping-add .form-control,
.shipping-add select {
    padding: 15px 20px;
    font-size: 14px;
    box-shadow: inset 0 0 15px 4px #eee;
    border-radius: 2px;
}

.shipping-add {
    margin-top: 50px;
    max-height: 0;
    overflow: hidden;
    transition: .2s all linear;
}

#ship-check:checked~.shipping-add {
    max-height: 1000px;
    transition: .2s all linear;
}

section.checkout .order-sum ul li {
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 14px 0;
}

.checkout-price .key.head,
.checkout-price .key.sub-sum,
.checkout-price .key.sum {
    font-weight: 700;
}

.checkout-price .key.sub-sum span {
    font-size: 12px;
    font-weight: 500;
}

.checkout-price .key.sum~.value {
    color: var(--primary);
    font-size: 20px;
}

.checkout-price .key.prod-name {
    font-weight: 500;
    font-size: 12px;
    max-width: 200px;
}

/*===================================== Checkout Page Ends =====================================*/




/*===================================== Search Page Starts =====================================*/

section.search-sec {
    padding: 50px 0;
    font-family: 'Montserrat';
}

.search-res-head .search-filter {
    max-width: 500px;
    margin: 20px 0;
}

.active>.page-link,
.page-link.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-link {
    color: #333;
}

.page-link.next,
.page-link.previous {
    color: var(--primary);
}

/*===================================== Search Page Ends =====================================*/





/*===================================== Login Page Ends =====================================*/

.login-modal,
.signup-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d6;
    z-index: 9999;
    font-family: 'Montserrat';
    transition: all linear .3s;
}

.modal-inner {
    position: absolute;
    transition: all linear .3s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 800px;
    width: 800px;
    border-radius: 3px;
}

.modal-inner .login-modal-content,
.modal-inner .signup-modal-content {
    display: flex;
}

.login-modal-content .modal-right,
.signup-modal-content .modal-left {
    flex-basis: 35%;
}

.login-modal-content .modal-left,
.signup-modal-content .modal-right {
    padding: 50px;
    flex-basis: 65%;
}

.modal-right h1 {
    font-size: 20px;
}

.modal-right p {
    font-size: 14px;
}

.modal-left h1 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.modal-left p {
    max-width: 350px;
    margin-top: 20px;
}

.modal-input {
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 100%;
}

.modal-input label {
    display: block;
    font-weight: 500;
    width: 100%;
    font-size: 14px;
    color: #666;
}

.modal-input input {
    outline: 0;
    border: 0;
    width: 100%;
    font-weight: 600;
    color: #333;
}



.modal-act-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-img {
    width: 100%;
    height: 100%;
    background: url(assets/login-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 20px;
    fill: #fff;
}

.signup-modal .close-modal {
    fill: #333;
}

/*===================================== Login Page Ends =====================================*/




/*===================================== Order Confirmation Page Ends =====================================*/
.order-con-sec {
    padding: 50px 0;
    font-family: 'Montserrat';
    text-align: center;
}

.confirm-img {
    width: fit-content;
    padding: 40px;
    border-radius: 50%;
    background: var(--primary);
    margin: 0 auto 26px auto;
}

.order-con-box h1 {
    font-size: 30px;
    font-weight: 800;
}

.order-con-box h3 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.order-con-box p {
    font-size: 18px;
    margin: 0;
    max-width: 600px;
    margin: auto;
}

.order-con-box p {
    font-size: 18px;
    margin: 0;
    max-width: 600px;
    margin: auto;
}

.order-con-box a {
    margin: auto;
    margin-top: 20px;
    padding: 12px 28px;
    font-size: 18px;
}

.confirm-img svg {
    width: 60px;
    fill: #fff;
}

/*===================================== Order Confirmation Page Ends =====================================*/





/*===================================== FAQs Page Starts =====================================*/

.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: var(--primary);
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: var(--primary);
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
/*===================================== FAQs Page Ends =====================================*/






.ess-pages{
    padding: 50px 0;
    font-family: 'Montserrat';
}
.ess-pages h1 {
    font-weight: 700;
    color: #333;
}
.ess-pages h2 {
    margin: 0;
    border-bottom: 3px solid var(--primary);
    margin-top: 24px;
}
.ess-pages h3{
    font-weight: 600;
}
.ess-pages p{
    color: #666;
}


/* FOOTER STARTS */
footer {
    background-color: #111;
    color: #fff;
    font-family: "Montserrat";
    margin-top: 20px;
    padding: 20px 0;
}

footer h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 25px 0;
}

footer ul li {
    margin-bottom: 10px;
    color: #999;
}

footer p {
    color: #999;
}

footer a[type="submit"] {
    display: block;
    background-color: var(--primary);
    width: fit-content;
    padding: 8px 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-weight: 600;
}

footer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

footer .social-icons {
    flex-direction: row;
    margin-top: 20px;
}

footer .social-icons>a {
    margin-right: 20px;
}

.copyright {
    color: #999;
}

/* FOOTER ENDS */

@media only screen and (max-width: 1199px) {
    .benefit-text b {
        font-size: 14px;
        line-height: 18px;
    }

    .benefit-text span {
        font-size: 12px;
        line-height: 12px;
    }

    .item-det h2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media only screen and (max-width: 991px) {

    .upr-nav .cart-icon,
    .upr-nav .user-icon {
        display: none;
    }

    .cart-orders {
        display: flex;
        align-items: center;
    }

    .hamburger {
        display: block;
    }

    .search-bar input {
        width: unset;
    }

    .logo-img {
        margin-right: 30px;
    }

    .lwr-nav {
        display: none;
    }

    .logo-img {
        width: 100px;
    }

    .search-bar input {
        height: 35px;
        font-size: 14px;
        min-width: 200px;
    }

    .search-bar button {
        width: 35px;
        height: 35px;
    }

    .search-bar button img {
        width: 12px;
    }

    .hamburger {
        padding: 0;
        height: 24px;
    }

    .hamburger-inner::before {
        top: -7px;
    }

    .hamburger-inner::after {
        bottom: -7px;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 28px;
        height: 3px;
    }

    .hamburger-inner {
        width: 28px;
        height: 3px;
    }

    .hamburger-box {
        width: 28px;
    }

    .cat-card .cat-text p {
        font-size: 10px;
    }

    .cat-card .cat-text h1 {
        font-size: 16px;
    }

    .cat-card {
        height: 220px;
    }

    .login-modal,
    .signup-modal {
        padding: 0 20px;
    }

    .modal-inner {
        max-width: 700px;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .list-head h1 {
        font-weight: 800;
        font-size: 24px;
    }

    .owl-nav {
        top: -64px;
    }

    .cat-box-head .drop-icon {
        display: block;
        transition: all linear .3s;
    }

    .cat-box-head .drop-icon.active {
        transform: rotate(-180deg);
        transition: all linear .3s;
    }

    .cat-box .submenus {
        max-height: 0;
        overflow: hidden;
        transition: all linear .3s;
    }

    .cat-box .submenus.active {
        max-height: 1000px;
        transition: all linear .3s;
    }

    .item-det h2 {
        font-size: 14px;
    }

    .item-img {
        min-width: 80px;
        max-width: 80px;
    }

    .login-modal-content .modal-right,
    .signup-modal-content .modal-left {
        display: none;
    }

    .login-modal-content .modal-left,
    .signup-modal-content .modal-right {
        padding: 50px;
        flex-basis: 100%;
    }

    .close-modal {
        fill: #333;
    }

    .modal-inner {
        padding: 0 20px;
        background-color: unset;
    }

    .modal-inner .login-modal-content,
    .modal-inner .signup-modal-content {
        background-color: #fff;
        position: relative;
    }
    .confirm-img {
        padding: 30px;
    }

    .order-con-box h1 {
        font-size: 25px;
    }

    .order-con-box h3 {
        font-size: 20px;
    }

    .order-con-box p {
        font-size: 14px;
    }

    .order-con-box a {
        padding: 8px 15px;
        font-size: 14px;
    }

    .confirm-img svg {
        width: 40px;
        fill: #fff;
    }
}

@media only screen and (max-width: 576px) {
    .benefit {
        display: flex;
        align-items: center;
        font-family: 'Montserrat';
        flex-direction: column;
        text-align: center;
        margin: 16px;
    }

    .list-head {
        width: 100%;
        margin-bottom: 40px;
    }

    .list-head .view-btn {
        font-size: 15px;
        color: #333;
        font-weight: 700;
        min-width: 78px;
        border: none;
        padding: 0;
        text-align: right;
    }

    .list-head h1 {
        font-weight: 800;
        font-size: 22px;
    }

    .owl-nav {
        top: -46px;
    }

    .product-count .qtyminus,
    .product-count .qtyplus {
        width: 25px;
        height: 25px;
        line-height: 26px;
        font-size: 16px;
    }

    .product-count .qty {
        width: 45px;
        text-align: center;
        height: 25px;
        font-size: 16px;
    }

    .login-modal-content .modal-left,
    .signup-modal-content .modal-right {
        padding: 40px 25px;
    }
}

@media only screen and (max-width: 475px) {
    .upr-nav .search-bar {
        display: none;
    }

    .mobile-nav .search-bar {
        display: flex;
    }

    .signup-modal .modal-inner {
        transform: translate(-50%, 0);
        top: 50px;
    }
}